<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>${_("Privacy Policy")}</title></%block>

<section class="static-container privacy-policy">
  <h1>慕序隐私政策</h1>
  <hr class="horizontal-divider"/>

  <div class="inner-wrapper" style="font-family:宋体;font-size:12.0pt;line-height:150%">
    <p>本隐私政策仅适用于我们通过慕序网站（下面称“本网站“）方式向您收集的信息（例如，本隐私政策不适用于您可能通过电话、传真或日常信函向我们提供的信息）。</p>

    <h2>个人信息</h2>
    <p>本隐私策略使用的“个人信息”，是指您使用本网站时（例如您注册用户帐号）可能向我们提供的关于您的任何信息，包括但不限于您的姓名、联系信息、性别、出生日期和职位等。本网站不向您收集财务信息。</p>
    <h2>第三方使用和披露</h2>
    <p>如果我们分享和披露您的个人信息：（1）我们保证第三方接收者以保密的方式处理个人信息，并采取必要的管理措施和技术手段， 保护信息不受损失、滥用、未经授权的访问或披露、修改及破坏；以及（2）我们仅为以下目的使用或者向第三方披露和分享您的个人信息：</p>
    <ul>
      <li>用于帮助网站课程管理，安全维护和功能开发；</li>
      <li>用于科学研究的目的；</li>
      <li>用于监测违反诚信守则、服务条款的行为和其他滥用或潜在滥用本网站的行为；</li>
      <li>用于向您发送在线课程或其他事件更新；</li>
      <li>在发送课程完成证书时验证您的身份；</li>
      <li>如您参加的是华大基因组织的任何形式的培训，而培训要求必须您通过参加某个课程的学习，我们会将您这门课程的学习活动信息（访问时间，次数，测试成绩，课程作业和公开交流的页面提交的信息或内容）转交给该培训组织机构，用于评估培训学习表现和结果；根据法律、法规、法律程序的要求或政府主管部门的强制性要求；</li>
      <li>用于本隐私政策的相关条款所述的其它目的。</li>
    </ul>

    <h2>修改隐私政策</h2>
    <p>请注意，我们可能随时审查并修改本隐私政策，并会在网页中显著的位置予以发布。本隐私政策修改后，任何修改在本页面上发布后立即生效，并附更新后的生效日期。在本网站进行任何修改之后，您访问本网站即视为您已同意修改后的本隐私政策和本网站的其他全部修改。</p>
    <h2>隐私顾虑</h2>

    <p>如果您有隐私顾虑，或者披露了您希望保密的数据，或者希望访问我们持有的关于您的信息，请联系我们：</p>

    <p>xomics@genomics.cn</p>
    <p><strong>生效日期 ：</strong>2014年6月20日</p>
  </div>
</section>
