<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>诚信准则</title></%block>

<section class="static-container honor-code">
  <h1 id="honor">慕序 X-omics诚信准则</h1>
  <hr class="horizontal-divider">
 <div class="inner-wrapper" style="font-family:宋体;font-size:12.0pt;line-height:150%">
    <h2>
      <strong>慕序 X-omics简述</strong>
    </h2>
  <p align="LEFT">
      慕序 X-omics提供在线课程，包括：（1）师生、同学间互动；（2）学生成果个体评估；以及（3）为达到标准的学生颁发成绩证书或其他证明文件。
  </p>
  <p align="LEFT">
      欢迎访问慕序 X-omics。
  </p>
  <p align="LEFT">
      <strong>在注册</strong>
      <strong>或使用慕序 X-omics网站（下称“本网站”，包括</strong>
      <strong>x-omics.org</strong>
      <strong>
    域名下的所有内容和页面）的任何部分（包括访问任何课程资料、论坛或使用其他电子服务）之前，请务必审慎阅读、充分理解本服务条款（下称“本服务条款”）、<a href="/tos#privacy">隐私政策</a>和        <a href="/tos#honor">诚信守则</a>的内容，特别是免除或限制责任的条款，限制、免责条款可能以黑体加粗形式提示您注意。
      </strong>
  </p>
  <p align="LEFT">
      <strong>本服务条款、隐私政策和诚信守则是您与慕序 X-omics之间的协议（下称“本协议”）。不论您是否为注册用户，您使用本网站即视为您已阅读并同意接受本协议的约束。如果您不理解或不希望受本协议条款的约束，您无权使用本网站。</strong>
  </p>
  <p align="LEFT">
      慕序 X-omics保留在不事先通知您的情况下随时修改本服务条款的权利。本服务条款的任何修改在本页面上发布后立即生效，并附更新后的生效日期。在本网站进行任何修改之后，您继续访问本网站即视为您已接受修改后的服务条款和本网站的其他全部修改。请定期访问本页面以了解本服务条款的最新版本。
  </p>
  
  <h2>
      <strong>合作原则</strong>
  </h2>
  <p align="LEFT">
      通过在慕序 X-omics上选修课程，您已经加入了一个特殊的全球学生社区。慕序 X-omics的目标是通过应用互联网技术，为有动力、有能力参与高校课程学习的任何人提供学习体验的机会。您已成为帮助慕序 X-omics实现这一目标的社区成员之一。
  </p>
  <p align="LEFT">
      慕序 X-omics依赖于您主动、诚实地学习相关资料。为参与慕序 X-omics，您必须同意以下诚信守则以及对某些课程适用的任何特定附加条款。本诚信守则以及任何附加条款将发布在每门课程的网站上。
  </p>
  <h2>
      <strong>慕序 X-omics诚信守则公约</strong>
  </h2>
  <p align="LEFT">
      参加慕序 X-omics的课程，以下内容将视为是您的承诺：
  </p>
  <ul>
      <li>
        <p align="LEFT">
          仅凭我个人努力完成所有期中和期末考试，不会提交任何其他人的作业/成果；
        </p>
      </li>
      <li>
        <p align="LEFT">
          仅持有一个用户帐号并且不会让其他人使用我的用户帐号和/或密码；
        </p>
      </li>
      <li>
        <p align="LEFT">
          不从事任何可能不诚实地提高我的成绩，或提高或损害他人成绩的行为；
        </p>
      </li>
      <li>
        <p align="LEFT">
          发布用于评估学生表现的题目的答案。（除非慕序 X-omics课程的指导老师另有说明）
        </p>
      </li>
  </ul>
  <p align="LEFT">
      慕序 X-omics鼓励学生：
  </p>
  <ul>
      <li>
        <p align="LEFT">
          同他人合作完成讲座视频、练习、作业和实验；
        </p>
      </li>
      <li>
        <p align="LEFT">
          在课程中同其他人讨论一般概念和资料；
        </p>
      </li>
      <li>
        <p align="LEFT">
          将想法和书面成果展示给慕序 X-omics同学或其他人，以获得他们的意见和评论。
        </p>
      </li>
  </ul>
    <h2>
      <strong>诚信守则的修改</strong>
    </h2>
  <p align="LEFT">
      请注意，我们可能不时审查和修改本诚信守则。本诚信守则的修改在本页面上发布后立即生效，并附更新后的生效日期。在本网站进行任何修改之后，您访问本网站即视为您已同意修改后的诚信守则和本网站的其他全部修改。请定期访问本网页以了解本诚信守则的最新版本。
  </p>
  <p align="LEFT">
      <strong>生效日期</strong>
      ：2014年6月25日
  </p>
  </div>
</section>