<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>联系我们</title></%block>

<section class="container about">
  <nav>
    <a href="/about">关于我们</a>
    <a href="/faq">常见问题</a>
    <a href="/contact" class="active">${_("Contact")}</a>
  </nav>

  <section class="contact">
    <div class="photo">
      <img src="${static.url('themes/xomics-theme/images/bgi_contactus.jpg')}">
    </div>
    <div class="contacts" style="font-family:宋体;font-size:12.0pt;">
        <section>
          <h2>联系方式</h2>
          <p>深圳市华大基因学院</p>
          <p><strong>地址：</strong>深圳市盐田区北山工业区综合楼</p>
          <p><strong>邮编：</strong>518083</p>
          <p><strong>联系电话：</strong>+86-0755-25273851 （咨询时间：周一至周五9:00-18:00）</p>
          <p><strong>传真：</strong>+86-0755-25273769</p>
          <p><strong>E-mail：</strong>xomics@genomics.cn</p>
        </section>
    </div>
  </section>
</section>

