<%! from django.utils.translation import ugettext as _ %>
<%! from course_category.models import CourseCategoryConfig %>

<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Courses")}</%block>
<%! from microsite_configuration import microsite %>


<section class="find-courses">
  <section class='filter_courses'>
    <link rel="stylesheet" href="/static/themes/xomics-theme/css/filter_section.css">
    <div class="course-content">
      <div class="content-body clearfix">
        <div class="selection-panel">
          <div class="filter clearfix">
            <div id="x_search_panel" class="x-search-item pull-left">
              <div class="pull-left x-inline">
                <span id="x_search_panel_title">课程-筛选:</span>
              </div>
              <div id="x_search_query_wrapper" class="clearfix">
                <input id="search-query" class="form-control" placeholder="请输入关键字..." type="text">
                <div id="x_search_label" class="clearfix hidden">
                  <div id="x_search_label_title" class="x-inline pull-left">
                  </div>
                  <div id="x_search_label_close" class="x-inline pull-left"></div>
                </div>
              </div>
            </div>
            <div class="x-search-item pull-right">
              <span>仅显示：</span>
              <input type="checkbox" id="x_course_open" class="checkbox"><label for="x_course_open">已开
              课</label>
              <input type="checkbox" id="x_course_at" class="checkbox"><label for="x_course_at">有助教</label>
            </div>
          </div>
          <div class="select-level">
            <div id="x_course_panel" class="select-subject container-fluid">
              <div class="x_course_subject clearfix row">
                <div class="pull-left x-course-subject-catalog col-xs-4 col-sm-4 col-md-3 col-lg-2">分类:</div>
                <div class="pull-left x-course-subjects col-xs-8 col-sm-8 col-md-9 col-lg-9">
                  <ul id="subject" class="clearfix">
                    %for c in [category.strip() for category in CourseCategoryConfig.objects.values()[0]['course_category'].split(',')]:
                        <li class="tab1" name="${loop.index}"><span>${c}</span></li>
                    %endfor
                    <!--<li class="tab1" name="Biological"><span>生物</span></li>-->
                    <!--<li class="tab1" name="Health"><span>医学健康</span></li>-->
                    <!--<li class="tab1" name="Analysis"><span>数据分析</span></li>-->
                    <!--<li class="tab1" name="Computer"><span>计算机</span></li>-->
                    <!--<li class="tab1" name="Social"><span>社会科学</span></li>-->
                    <!--<li class="tab1" name="Ethics"><span>伦理哲思</span></li>-->
                    <!--<li class="tab1" name="Others"><span>其他</span></li>-->
                    <!--<li class="tab1" name="Biological"><span>生物</span></li>-->
                    <!--<li class="tab1" name="Health"><span>医学健康</span></li>-->
                    <!--<li class="tab1" name="Analysis"><span>数据分析</span></li>-->
                    <!--<li class="tab1" name="Computer"><span>计算机</span></li>-->
                    <!--<li class="tab1" name="Social"><span>社会科学</span></li>-->
                    <!--<li class="tab1" name="Ethics"><span>伦理哲思</span></li>-->
                    <!--<li class="tab1" name="Others"><span>其他</span></li>-->
                    <!--<li class="tab1" name="Biological"><span>生物</span></li>-->
                    <!--<li class="tab1" name="Health"><span>医学健康</span></li>-->
                    <!--<li class="tab1" name="Analysis"><span>数据分析</span></li>-->
                    <!--<li class="tab1" name="Computer"><span>计算机</span></li>-->
                    <!--<li class="tab1" name="Social"><span>社会科学</span></li>-->
                    <!--<li class="tab1" name="Ethics"><span>伦理哲思</span></li>-->
                    <!--<li class="tab1" name="Others"><span>其他</span></li>-->
                    <!--<li class="tab1" name="Biological"><span>生物</span></li>-->
                    <!--<li class="tab1" name="Health"><span>医学健康</span></li>-->
                    <!--<li class="tab1" name="Analysis"><span>数据分析</span></li>-->
                    <!--<li class="tab1" name="Computer"><span>计算机</span></li>-->
                    <!--<li class="tab1" name="Social"><span>社会科学</span></li>-->
                    <!--<li class="tab1" name="Ethics"><span>伦理哲思</span></li>-->
                    <!--<li class="tab1" name="Others"><span>其他</span></li>-->
                    <!--<li class="tab1" name="Biological"><span>生物</span></li>-->
                    <!--<li class="tab1" name="Health"><span>医学健康</span></li>-->
                    <!--<li class="tab1" name="Analysis"><span>数据分析</span></li>-->
                    <!--<li class="tab1" name="Computer"><span>计算机</span></li>-->
                    <!--<li class="tab1" name="Social"><span>社会科学</span></li>-->
                    <!--<li class="tab1" name="Ethics"><span>伦理哲思</span></li>-->
                    <!--<li class="tab1" name="Others"><span>其他</span></li>-->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container" style="margin-top: 100px;">
    <section class="courses">
      <ul class="courses-listing" id="my_courses_list_nb">
        %for course in courses:
        <li class="courses-listing-item">
          <%include file="../course.html" args="course=course" />
        </li>
        %endfor
      </ul>
    </section>
  </section>
</section>

<%block name="js_extra">
<script src="/static/themes/xomics-theme/js/course_search.js"></script>
</%block>
