<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Courses")}</%block>
<%! from microsite_configuration import microsite %>


<section class="find-courses">
  <section class='filter_courses'>
    <link rel="stylesheet" href="/static/themes/xomics-theme/css/filter_section.css">
    <div class="course-content">
      <div class="content-body">
        <div class="selection-panel">
          <div class="filter fl">
            <div class="filter-title fl"><span>课程-筛选:</span></div>
          </div>
          <div class="select-subject">
            <div class="subject">
              <div class="subject-left">分类:</div>
              <div class="subject-right">
                <ul id="subject">
                  <li class="tab1" name="Biological"><span>生物</span></li>
                  <li class="tab1" name="Health"><span>医学健康</span></li>
                  <li class="tab1" name="Analysis"><span>数据分析</span></li>
                  <li class="tab1" name="Computer"><span>计算机</span></li>
                  <li class="tab1" name="Social"><span>社会科学</span></li>
                  <li class="tab1" name="Ethics"><span>伦理哲思</span></li>
                  <li class="tab1" name="Others"><span>其他</span></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="select-level">
            <form class="search-container search" id="search-form" onsubmit="return search();" >
              <input style="float:left;width: 92.7%;height: 40px;border-style:none" id="search-query" placeholder="请输入关键字..."  type="text">
              <input style="float:right;height: 40px;border-style:none;width: 7.3%;" value="搜索" type="submit" >
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <section class="courses">
      <ul class="courses-listing" id="my_courses_list_nb">
        %for course in courses:
        <li class="courses-listing-item">
          <%include file="../course.html" args="course=course" />
        </li>
        %endfor
      </ul>
    </section>
  </section>
</section>

<%block name="js_extra">
<script type = "text/javascript">

</script>
<script type = "text/javascript">
function search() {
    var search = $('#search-query').val();
    if (search == '') search = '';
    var url = "find_courses_by_search?search=" + search;
    $.ajax({
            url: url,
            type: 'GET',
            dataType: 'HTML',
            success: function(data) {
                    $('#my_courses_list_nb').html(data);
                }
            });
        return false;
    }

my_flag = 1;

  $(function(){
      
      $('#subject li').click(function(){
        if( my_flag == 1 ){
          $(this).fadeIn(0).siblings().fadeOut(0);
          $(this).css({"background":"#9E9EE7"});
          $(".tab1 span").css({
                        "background-image":"url('/static/themes/xomics-theme/images/x.png')",
                        "background-repeat": "no-repeat",
                        "background-position": "0px 0px",
                        "position": "absolute"
                      });
          var subject_name = $(this).attr('name');
          var url = "find_courses_by_category?subject="+subject_name;
          my_flag = 0;
        }else{
          $(this).fadeIn(0).siblings().fadeIn(0);
          $(".tab1 span").removeAttr("style");
          $(this).removeAttr("style");          
          var url = "find_courses_by_category?subject=all";
          my_flag = 1;
        }
          
          $.ajax({
              url:url,
              type:'GET',
              dataType: 'html',
              success:function(data){
                $('#my_courses_list_nb').html(data);
              }

            })
      });
  })
</script>
</%block>
