@charset"utf-8";

li a:link, li a:visited{color:#7f7f7f;}
li a:hover, li a:active{color:#ff7a31;}
/*------------------content-------------*/

.course-content { margin: 40px auto; padding:0; max-width: 1180px; width:100%; }
.course-content .content-body { margin:auto; width:100%; font: 13px/1.6 Microsoft YaHei,SimSun,tahoma,arial,sans-serif;}
.course-content .content-body ul li{ list-style: none;}

.course-content .selection-panel{ float:left; width:100%; height: 180px; position: relative; display:inline; left:0; top:0; }

.course-content .filter{ height:auto; width:100%; position:absolute; background:#f7f7f7; left:0;top:0; line-height:40px; border: 1px solid #dddddd; height:40px;}
.course-content .filter-title{ height: 40px; width: 150px; position: absolute; background: #f7f7f7; left: 0; top: 0; }
.course-content .filter-title span{ font-weight:bold;padding-left:10px;}
.course-content .filter-ul{ height:auto; width:80%; position: absolute; background: #f7f7f7; left: 150px; top: 0; }
.course-content .select-menu{ height:40px; width:100%; position:absolute; background:#ffffff; left:0;top: 40px; border: 1px solid #dddddd;}

.course-content .select-subject{position:absolute; top: 40px; height:65px; width:100%; border:1px solid #ddd; background:#dddddd margin-left:-1px;}
.course-content .subject {height:40px; width:960px; padding-left:40px; position:absolute; left:0;top:0;}
.course-content .subject-left {float:left; height:40px; line-height:70px; font-weight:bold;}
.course-content .subject-right ul {float:left;}
.course-content .subject-right li { float:left; height:40px; line-height:40px; margin-top: -13px; display: inline-block; background: #fff; border-radius: 5px; margin: 0 10px 10px 0;}
.course-content .subject-right li span {padding:0 10px; height:40px; display:block; padding-top: 10px;}
.course-content .subject-right li span:hover{background:#ff7a31; padding: 10px 10px 0px; height:30px; color:#fff;}
.course-content .subject-right .live li span {background:#ff7a31; padding: 10px 10px 0; height:30px; color:#fff; width:auto;}


.course-content .select-level{ height:40px; width:100%; position:absolute; left:0;top: 105px; background:#ffffff;border: 1px solid #dddddd; margin-left:-1px;}

.course-content .live span{background:#ff7a31; height:40px; color:#fff;}
