

header.global,
header.global.slim {
  background: url('../themes/xomics-theme/images/back-top.jpg') no-repeat !important;
  background-size: 100% 100% !important;
  border: none;

  .nav-global li a {
    color: white;
  }

  .primary>a {
    box-shadow: none;
  }

  nav h2 {
    text-shadow: none;
    &, & > .provider {
      color: #EEE;
    }
  }

}

.wrapper-footer {
  background: url('../themes/xomics-theme/images/back-bottom.jpg') no-repeat;
  background-size: 100% 100%;
  footer {
    .colophon {
      .nav-colophon li a {
        color: white;
      }
      .colophon-about p {
        color: #EEE;
        margin: 0;
        padding: 0;
        background: inherit;
      }
    }

    .copyright,
    .nav-legal li a {
      color: #EEEEEE;
    }
  }
}

.home > header {

  margin: 0;
  height: auto;
  background-image: none;
  border: none;

  #pageBanner {
    .slider-arrow-left, .slider-arrow-right {
      display: block;
      position: absolute;
      width: 55px;
      height: 55px;
      cursor: pointer;
      background: url('../themes/xomics-theme/images/arrow.png') center center no-repeat;
      overflow: hidden;
    }

    .slider-arrow-left {
      background-position: -3px -33px; top: 123px; left: 8px;
      &:hover {
        background-position: -123px -33px;
      }
    }
    .slider-arrow-right {
      background-position: -63px -33px; top: 123px; right: 8px;
      &:hover {
        background-position: -183px -33px;
      }
    }

    .slider-indicator {

      position: absolute;
      bottom: 26px;
      left: 6px;

      div, div:hover, .av {
        position: absolute;
        width: 19px;
        height: 19px;
        text-align: center;
        line-height: 19px;
        color: white;
        font-size: 12px;
        background: url('../themes/xomics-theme/images/indicator.png') no-repeat;
        overflow: hidden;
        cursor: pointer;
      }
      div {
        background-position: -5px -5px !important;
      }
      div:hover, .av:hover {
        background-position: -35px -5px !important;
      }
      .av {
        background-position: -65px -5px !important;
      }
      .dn, .dn:hover {
        background-position: -95px -5px;
      }
    }
  }
}

.category-container {
  box-sizing: border-box;
  padding: 0px;
  background-color: #307D9A;
}

.find-courses {
  .category-container {
    max-width: 1200px;
    margin: 2em auto 0;
  }
  .category-list {
    border: none;
  }
  .courses {

  }
}

.category-list {

  $highlightColor: #135871;
  $normalColor: #307D9A;

  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;

  li {
    display: inline-block;
    box-sizing: border-box;
    float: left;
    position: relative;

    &:hover, &.active {
      background-color: $highlightColor;
    }

    &:hover {
      a {
        background-color: transparent;
      }

      .subcategory-wrapper {
        display: block;
      }
    }

    .subcategory-wrapper {
      position: absolute;
      display: none;
      box-sizing: border-box;
      width: 11em;
      min-width: 150px;
      z-index: 10000;
      background-color: white;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border: 1px solid $highlightColor;

        li {
          display: inline-block;
          float: left;
          font-size: 14px;
          width: 100%;
          height: 2em;
          line-height: 2em;
          text-align: center;
          cursor: pointer;
          border-bottom: 1px solid $highlightColor;

          a {
            color: #222;
            width: 100%;
            height: 100%;
            line-height: 2em;
            background-color: white;
            font-size: 14px;

            &:hover {
              color: white;
              background-color: $highlightColor;
            }

          }

          &:hover {
            color: white;
          }

          &:last-child {
            border-bottom: none;
          }

        }

      }

    }

    a {
      display: inline-block;
      box-sizing: border-box;
      width: 7em;
      letter-spacing: 2px;
      background-color: $normalColor;
      color: white;
      height: 2.7em;
      line-height: 2.7em;
      overflow: hidden;
      text-align: center;
      &:hover {
        //background-color: $highlightColor;
        text-decoration: none;
      }
    }

  }

}

.courses-container {

  section.highlighted-courses {
    margin: 0;
  }

  .courses-label {
    font-size: 1.4em;
  }

  .recommand-container {
    margin-top: 2em;
    text-align: center;

    .recommand-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block;

      li {
        float: left;
        margin: 0 1em;

        a {
          display: inline-block;
          width: 7em;
          height: 7em;
          box-sizing: border-box;
          padding: 38% 1em 0;
          border-radius: 7em;
          background-color: #2280b0;
          text-align: center;
          color: white;
          &:hover {
            text-decoration: none;
            background-color: #f5696c;
          }
        }
      }

    }
  }
}

