
@import "xomics-constant";

.bank-info-wrapper {

  box-sizing: border-box;
  border-top: 1px solid #106A86;
  margin: 0;
  padding: 0;

  .bank-hint {
    font-size: 1.1em;
    font-weight: 600;
    margin: 1em 0;
  }

  .bank-info-title {
    text-align: center;
    span {
      color: $main-color;
      font-size: 1.2em;
    }
  }

  .container {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: 1px solid #BBB;
    padding: 1em 0;

    .bank-cell {
      display: inline-block;
    }

    .row {
      margin-top: 0.5em;
      .bank-cell-label {
        width: 10%;
        max-width: 7em;
        min-width: 5em;
        text-align: right;
      }
      .bank-cell-value {
        width: 80%;
        box-sizing: border-box;
        padding-left: 1em;
      }
    }
  }

  .bank-info-alert {
    color: #FF3833;
    margin-top: 1em;
    padding-left: 3em;
  }

}





