/****************************************************************************************************
*   x-omics Theming File
*
*   Contains all the theme color definitions for the x-omics Open Source MOOC Project
*
****************************************************************************************************/
//

//-----------------
//  Theme Element Assignments
//-----------------

$footer-bg: #e6e6e6;


//-----------------
//  CSS BG Images
//-----------------
$homepage-bg-image: url('../themes/xomics-theme/images/bg.jpg');
$video-thumb-url: '../themes/xomics-theme/images/Logo-header.png';