<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%! from microsite_configuration import microsite %>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  ## To display a welcome video, change False to True, and add a YouTube ID (11 chars, eg "123456789xX") in the following line
  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', False)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "your-youtube-id")

  show_partners = microsite.get_value('show_partners', True)

%>

<section class="home">
  <header>
    <div id="pageBanner" style="position: relative; margin: 0; padding: 0; top: 0; left: 0; width: 1265px; height: 400px;">
      <div data-u="slides" style="position: absolute; cursor: move; left: 0; top: 0; width: 1265px; height: 400px;">
        <div>
          <img data-u="image" src="${static.url('themes/xomics-theme/images/banner01.jpg')}" alt="Xomics">
        </div>
        <div>
          <img data-u="image" src="${static.url('themes/xomics-theme/images/banner02.jpg')}" alt="Xomics">
        </div>
        <div>
          <img data-u="image" src="${static.url('themes/xomics-theme/images/banner03.jpg')}" alt="Xomics">
        </div>
      </div>
      <div data-u="navigator" class="slider-indicator">
        <div data-u="prototype"></div>
      </div>
      <span data-u="arrowleft" class="slider-arrow-left"></span>
      <span data-u="arrowright" class="slider-arrow-right"></span>
    </div>
  </header>
  <section class="category-container">
    <ul class="category-list clearfix">
      <li class="category-item" data-index="certification">
        <a href="/courses?category=certification">认证培训</a>
        <div class="subcategory-wrapper">
          <ul class="subcategory-list clearfix">
            <li class="subcategory-item" data-parent="certification" data-index="hereditary">
              <a href="/courses?category=medihealth&subcategory=hereditary">遗传咨询师认证</a>
            </li>
            <li class="subcategory-item" data-parent="certification" data-index="bioinfo">
              <a href="/courses?category=medihealth&subcategory=bioinfo">生物信息分析专业认证</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="category-item">
        <a href="/courses?category=medihealth">医学健康</a>
      </li>
      <li class="category-item">
        <a href="/courses?category=biology">生物信息</a>
      </li>
      <li class="category-item">
        <a href="/courses?category=others">其它</a>
      </li>
    </ul>
  </section>
  <section class="courses-container">
    <section class="highlighted-courses">

      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <section class="courses">
            <div>
              <span class="courses-newest courses-label">最新课程</span>
            </div>
            <ul class="courses-listing clearfix">
            ## cap for showing 8 or less courses
            %for course in courses[:8]:
              <li class="courses-listing-item">
                <%include file="course.html" args="course=course" />
              </li>
            %endfor
            </ul>
        </section>
        <div class="courses-more">
          <a class="courses-more-cta" href="${marketing_link('COURSES')}" > ${_("View all Courses")} </a>
        </div>
      % endif

    </section>
    <section class="recommand-courses">
      <div>
        <span class="courses-label">推荐课程</span>
      </div>
      <section class="recommand-container">
        <ul class="recommand-list">
          <li class="recommand-list-item">
            <a href="/courses?category=medihealth&subcategory=hereditary" class="recommand-category">遗传咨询师认证</a>
          </li>
          <li class="recommand-list-item">
            <a href="/courses?category=medihealth&subcategory=bioinfo" class="recommand-category">生物信息分析专业认证</a>
          </li>
        </ul>
      </section>
      <section class="courses">
        <ul class="courses-listing clearfix">
          ## cap for showing 8 or less courses
          %for course in courses[:8]:
          <li class="courses-listing-item">
            <%include file="course.html" args="course=course" />
          </li>
          %endfor
        </ul>
      </section>
    </section>
  </section>
</section>

<%block name="js_extra">
    <script src="http://dmdgeeker.qiniudn.com/jssor.slider.mini.js"></script>
    <script type="text/javascript">
      $(window).load(function() {
        if(getParameterByName('next')) {
          $('#login').trigger("click");
        }
      });
      $(function() {
        var slider = new $JssorSlider$('pageBanner', {
          $AutoPlay: true,
          $AutoPlayInterval: 4000,
          $ArrowKeyNavigation: true,
          $SlideDuration: 1000,
          $DisplayPieces: 1,
          $BulletNavigatorOptions: {
            $Class: $JssorBulletNavigator$,
            $AutoCenter: 1,
            $Steps: 1
          },
          $ArrowNavigatorOptions: {
            $Class: $JssorArrowNavigator$,
            $ChanceToShow: 1,
            $AutoCenter: 2,
            $Steps: 1
          }
        });

        function sliderScale() {
          var bw = document.body.clientWidth;
          if (bw) {
            slider.$ScaleWidth(Math.min(bw, 1920));
          }
        }
        sliderScale();
        $(window).on('load', sliderScale);
        $(window).on('resize', sliderScale);
        $(window).on('orientationchange', sliderScale);
      });
    </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
