## mako

<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
  <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="/static/themes/xomics-theme/css/bootstrap-ie6.css"><![endif]-->
  <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="/static/themes/xomics-theme/css/ie.css"><![endif]-->
</%block>
<%block name="js_extra">
  <!--[if lte IE 6]><script type="text/javascript" src="/static/themes/xomics-theme/js/bootstrap-ie.js"></script><![endif]-->
</%block>
