## mako

<%namespace name='static' file='/static_content.html'/>
  <!--[if lte IE 6]>
  <!-- bsie css patch -->
  <link rel="stylesheet" type="text/css" href="themes/xomics-theme/css/bootstrap-ie6.css">

  <!-- bsie extra css patch -->
  <link rel="stylesheet" type="text/css" href="themes/xomics-theme/css/ie.css">
  <![endif]-->
</%block>
<%block name="js_extra">
  <!--[if lte IE 6]>
  <!-- bsie js  -->
  <script type="text/javascript" src="themes/xomics-theme/js/bootstrap-ie.js"></script>
  <![endif]-->
</%block>