## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
      <ol>
          <li class="nav-colophon-01">
          <a id="about" href="${marketing_link('ABOUT')}">
              ${_("About")}
          </a>
          </li>
          <!--
          <li class="nav-colophon-02">
          <a id="jobs" href="${marketing_link('JOBS')}">
              ${_("Jobs")}
          </a>
          </li>
          <li class="nav-colophon-03">
          <a id="press" href="${marketing_link('PRESS')}">
              ${_("Press")}
          </a>
          </li>
          -->
          <li class="nav-colophon-04">
          <a id="faq" href="${marketing_link('FAQ')}">
              ${_("FAQ")}
          </a>
          </li>
          <li class="nav-colophon-05">
          <a id="contact" href="${marketing_link('CONTACT')}">
              ${_("Contact")}
          </a>
          </li>
      </ol>
      </nav>

      <div class="colophon-about">
        <img src="${static.url('themes/xomics-theme/images/Logo-footer.png')}"  style="width: 8%;height: 8%;margin-top: 0px;"/>

        <p>慕序(X-omics)是华大学院创建的网络开放课程平台，致力于传播基因生命科学和健康医学相关知识，汇聚华大内外学术界精英的智慧，提供线上线下丰富的互动教学活动，打造你我他的学习社区。</p>
      </div>
    </div>

    <div class="references">
      <nav class="nav-social">
        <ul>
          <li class="nav-social-01" style="margin-right: 20px;">
            <a href="http://www.genomics.cn" target="_blank" rel="external">
              <img src="${static.url('themes/xomics-theme/images/BGI2.png')}" alt="华大基因" style="width: 60px;"/>
            </a>
          </li>
          <li class="nav-social-02" style="margin-right: 20px;">
            <a href="" rel="external">
              <img src="${static.url('themes/xomics-theme/images/college2.png')}" alt="华大基因学院" style="width: 60px;"/>
            </a>
          </li>
        </ul>
      </nav>

      <p class="copyright">${_("&copy; 2014 {platform_name}, some rights reserved.").format(platform_name=settings.PLATFORM_NAME)}</p>

      <nav class="nav-legal">
        <ul>
          <li class="nav-legal-01">
            <a href="/tos" target="_blank" >服务条款</a>
          </li>
          <li class="nav-legal-01">
            <a href="/honor" target="_blank" >诚信准则</a>
          </li>
          <li class="nav-legal-02">
            <a href="/privacy" target="_blank" >隐私政策</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
</div>
